.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
.box__myzal {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.box__tDgt4 {
  display: flex;
  padding-top: 32px;
  padding-bottom: 64px;
  flex-direction: column;
  background: radial-gradient(
        ellipse 64% 90% at 50% 10%,
        #ffffffcc 0%,
        #ffffff 100%
      )
      0% 0% / 100% 100% repeat,
    url("https://images.unsplash.com/photo-1604076913837-52ab5629fba9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80")
      0% 0% / 100% 100% repeat;
}
.box__tDgt4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.box__tDgt4 > :global(.__wab_flex-container) > *,
.box__tDgt4 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.box__qWqmQ {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  align-self: center;
  min-width: 0;
  padding: 16px;
}
.box__qWqmQ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.box__qWqmQ > :global(.__wab_flex-container) > *,
.box__qWqmQ > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 0px;
  margin-top: 24px;
}
.link__d9Cg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.img__pwYgm {
  object-fit: cover;
  width: 193px;
  height: 68px;
  flex-shrink: 0;
}
.box__jbrAi {
  width: stretch;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  padding: 16px;
}
.box__jbrAi > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.box__jbrAi > :global(.__wab_flex-container) > *,
.box__jbrAi > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 0px;
  margin-top: 24px;
}
.box__t4PTh {
  font-size: 80px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -2px;
  font-family: "Poppins", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__t4PTh {
    font-size: 48px;
  }
}
.box__nuNch {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__nuNch > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__nuNch > :global(.__wab_flex-container) > *,
.box__nuNch > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.box__x0F5O {
  font-size: 24px;
  line-height: 1.5;
  color: #000000d9 /* plasmic-token: REJryj0SI7MEWI */;
}
.box___6IjG5 {
  position: relative;
  font-size: 24px;
  line-height: 1.5;
  color: #000000d9 /* plasmic-token: REJryj0SI7MEWI */;
}
.box__oPyx8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-self: center;
}
.box__oPyx8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__oPyx8 > :global(.__wab_flex-container) > *,
.box__oPyx8 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.img__we1CB {
  object-fit: cover;
  width: 100%;
  height: auto;
  max-width: 1016px;
  min-width: 0;
}
.link__vlgQ4 {
  position: relative;
  align-self: center;
  color: #04a4f4 /* plasmic-token: eebvLg-O-JIneb */;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  padding: 8px 12px;
}
.box___5T88P {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box___5T88P > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 128px);
  height: calc(100% + 128px);
}
.box___5T88P > :global(.__wab_flex-container) > *,
.box___5T88P > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 128px;
}
.box___8NtCx {
  width: stretch;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  padding: 16px;
}
.box___8NtCx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.box___8NtCx > :global(.__wab_flex-container) > *,
.box___8NtCx > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 0px;
  margin-top: 24px;
}
.box___9Kea {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box___9Kea > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.box___9Kea > :global(.__wab_flex-container) > *,
.box___9Kea > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 0px;
  margin-top: 12px;
}
.box__h8Vij {
  position: relative;
  color: #00000080 /* plasmic-token: wgrM1T7bBFTbxg */;
}
.columns:global(.__wab_instance) {
  position: relative;
}
.box__raHdp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__raHdp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px /* plasmic-token: jvLkICColmbEei */);
  height: calc(100% + 48px /* plasmic-token: jvLkICColmbEei */);
}
.box__raHdp > :global(.__wab_flex-container) > *,
.box__raHdp > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 48px /* plasmic-token: jvLkICColmbEei */;
}
.box___9FMw0 {
  width: stretch;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  align-self: center;
  padding: 16px;
}
.box___9FMw0 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.box___9FMw0 > :global(.__wab_flex-container) > *,
.box___9FMw0 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 0px;
  margin-top: 24px;
}
.box__y0NxB {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__y0NxB > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__y0NxB > :global(.__wab_flex-container) > *,
.box__y0NxB > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.box__f2ZjQ {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box__f2ZjQ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.box__f2ZjQ > :global(.__wab_flex-container) > *,
.box__f2ZjQ > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 0px;
  margin-top: 12px;
}
.box__bMm2B {
  font-size: 42px;
  font-weight: 700;
  line-height: 1;
  font-family: "Poppins", sans-serif;
}
.box__xjqOv {
  position: relative;
  color: #00000080 /* plasmic-token: wgrM1T7bBFTbxg */;
}
.box__oDxvY {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: none;
}
.listItem__f62Vl:global(.__wab_instance) {
  position: relative;
}
.box__movm {
  text-align: center;
}
.box__vSFb {
  position: relative;
  color: #00000080 /* plasmic-token: wgrM1T7bBFTbxg */;
  text-align: center;
}
.box__uubU {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 16px;
}
.box__uubU > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.box__uubU > :global(.__wab_flex-container) > *,
.box__uubU > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
  margin-top: 32px;
}
.muiSelect__zw3Ul:global(.__wab_instance) {
  width: 250px;
  flex-shrink: 0;
}
.box___2RpNf {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box___2RpNf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.box___2RpNf > :global(.__wab_flex-container) > *,
.box___2RpNf > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 20px;
}
.muiButtonGroup___7IEFu:global(.__wab_instance) {
  position: relative;
}
.box__ybqvI {
  position: relative;
}
.box__bDnEo {
  position: relative;
}
.box__yjyGh {
  position: relative;
}
.box__oGb4M {
  position: relative;
}
.box___6IuDv {
  display: flex;
  flex-direction: row;
  position: relative;
}
.box___6IuDv > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.box___6IuDv > :global(.__wab_flex-container) > *,
.box___6IuDv > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
  margin-top: 32px;
}
.listItem__meaSz:global(.__wab_instance) {
  position: relative;
}
.box__h8IQp {
  position: relative;
}
.box__yMeYi {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__yMeYi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.box__yMeYi > :global(.__wab_flex-container) > *,
.box__yMeYi > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 20px;
}
.muiSelect__uc1Ze:global(.__wab_instance) {
  width: 318px;
}
.listItem__fVDyX:global(.__wab_instance) {
  position: relative;
}
.box__fwJe {
  position: relative;
}
.box___1Bik {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box___1Bik > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.box___1Bik > :global(.__wab_flex-container) > *,
.box___1Bik > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 20px;
}
.muiButtonGroup___6OI1N:global(.__wab_instance) {
  position: relative;
}
.box___0MvF {
  position: relative;
}
.box___9Umsr {
  position: relative;
}
.box___4Ohw {
  position: relative;
}
.box__aeVLm {
  position: relative;
}
.box___6NuOe {
  display: flex;
  flex-direction: row;
  position: relative;
}
.box___6NuOe > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.box___6NuOe > :global(.__wab_flex-container) > *,
.box___6NuOe > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
  margin-top: 32px;
}
.listItem__fqFx:global(.__wab_instance) {
  position: relative;
}
.box__atvdc {
  text-align: center;
}
.box__ccx4L {
  position: relative;
  color: #00000080 /* plasmic-token: wgrM1T7bBFTbxg */;
  text-align: center;
}
.box__mphFs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.box__kWMdh {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  min-width: 0;
  padding: 16px;
}
.box__kWMdh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.box__kWMdh > :global(.__wab_flex-container) > *,
.box__kWMdh > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 0px;
  margin-top: 24px;
}
.box__cr6Ql {
  display: flex;
  flex-direction: row;
  position: relative;
}
.box__cr6Ql > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.box__cr6Ql > :global(.__wab_flex-container) > *,
.box__cr6Ql > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__cr6Ql {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__cr6Ql > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__cr6Ql > :global(.__wab_flex-container) > *,
  .box__cr6Ql > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
  }
}
.slider___3Cggn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.menu__gbH4:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.box__uYQlv {
  display: flex;
  flex-direction: row;
  position: relative;
}
.box__uYQlv > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.box__uYQlv > :global(.__wab_flex-container) > *,
.box__uYQlv > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__uYQlv {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__uYQlv > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__uYQlv > :global(.__wab_flex-container) > *,
  .box__uYQlv > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
  }
}
.box__spMd7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.alert__minyv:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.box__d6Qv1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.box__jzBI {
  width: auto;
  display: inline-block;
}
.svg__aIpxL {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.alert___22Lvv:global(.__wab_instance) {
  position: relative;
  margin-top: 19px;
  width: 100%;
  min-width: 0;
}
.box__truk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.collapse___4TpB:global(.__wab_instance) {
  position: relative;
}
.box___1NwXo {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box___1NwXo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box___1NwXo > :global(.__wab_flex-container) > *,
.box___1NwXo > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.link__nuyal {
  font-weight: 700;
  color: #04a4f4 /* plasmic-token: eebvLg-O-JIneb */;
}
.box__a6P {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__a6P > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__a6P > :global(.__wab_flex-container) > *,
.box__a6P > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.link__vprm {
  font-weight: 700;
  color: #04a4f4 /* plasmic-token: eebvLg-O-JIneb */;
}
.box__j9EbY {
  display: flex;
  flex-direction: row;
  position: relative;
}
.box__j9EbY > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.box__j9EbY > :global(.__wab_flex-container) > *,
.box__j9EbY > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
  margin-top: 32px;
}
.listItem__xC4A:global(.__wab_instance) {
  position: relative;
}
.box__vOxv2 {
  position: relative;
}
.slider__qrxZ:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.listItem__u6XiX:global(.__wab_instance) {
  position: relative;
}
.box__t92B {
  position: relative;
}
.menu___5RtEu:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.box__hzZ0K {
  display: flex;
  flex-direction: row;
  position: relative;
}
.box__hzZ0K > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.box__hzZ0K > :global(.__wab_flex-container) > *,
.box__hzZ0K > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
  margin-top: 32px;
}
.listItem__afVoM:global(.__wab_instance) {
  position: relative;
}
.box___86Eo {
  position: relative;
}
.alert__a5W2:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.box__fyUsQ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.box___4UBg2 {
  width: auto;
  display: inline-block;
}
.svg__fvz3Q {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.alert__r9Bns:global(.__wab_instance) {
  position: relative;
  margin-top: 19px;
  width: 100%;
  min-width: 0;
}
.listItem___2N9Ux:global(.__wab_instance) {
  position: relative;
}
.box___5H1L2 {
  position: relative;
}
.collapse__akSbq:global(.__wab_instance) {
  position: relative;
}
.box__njQiV {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__njQiV > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__njQiV > :global(.__wab_flex-container) > *,
.box__njQiV > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.link__skCRg {
  font-weight: 700;
  color: #04a4f4 /* plasmic-token: eebvLg-O-JIneb */;
}
.box__zObzR {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__zObzR > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__zObzR > :global(.__wab_flex-container) > *,
.box__zObzR > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.link___1V5O2 {
  font-weight: 700;
  color: #04a4f4 /* plasmic-token: eebvLg-O-JIneb */;
}
.box__vxUpf {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 32px 16px;
  background: #021114 repeat;
}
.box___1AmUj {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  align-self: center;
  min-width: 0;
  padding: 16px;
}
.box___1AmUj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.box___1AmUj > :global(.__wab_flex-container) > *,
.box___1AmUj > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 0px;
  margin-top: 24px;
}
.listItem__fU9F5:global(.__wab_instance) {
  width: 100%;
  align-self: center;
  min-width: 0;
}
.box__whmFc {
  color: #ffffff;
}
.box__yx5J {
  color: #ffffff;
}
.box__wfPcU {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.box__derIk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h1 {
  position: relative;
  font-size: 26px;
  font-weight: 700;
  color: #00f8f8;
  font-family: "Titillium Web", sans-serif;
}
.box__fNmi {
  position: relative;
}
.arwesFigure:global(.__wab_instance) {
  position: relative;
}
.box__zcSw {
  position: relative;
}
.box__mJkMx {
  position: relative;
}
.box__pXiBh {
  position: relative;
}
.box__huzMx {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  min-width: 0;
  padding: 16px;
}
.box__huzMx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.box__huzMx > :global(.__wab_flex-container) > *,
.box__huzMx > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 0px;
  margin-top: 24px;
}
.box__umNi5 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box__umNi5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.box__umNi5 > :global(.__wab_flex-container) > *,
.box__umNi5 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 0px;
  margin-top: 12px;
}
.box__x74AR {
  font-size: 42px;
  font-weight: 700;
  line-height: 1;
  font-family: "Poppins", sans-serif;
}
.box__g2DdX {
  position: relative;
  color: #00000080 /* plasmic-token: wgrM1T7bBFTbxg */;
}
.box__dVPzd {
  display: flex;
  flex-direction: row;
  position: relative;
}
.box__dVPzd > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.box__dVPzd > :global(.__wab_flex-container) > *,
.box__dVPzd > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
  margin-top: 32px;
}
.listItem__tgFul:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.listItem__lcb3H:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.box___7Zuvy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.cmsGallery:global(.__wab_instance) {
  position: relative;
}
.box__x0XGy {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-column-gap: 0px;
  position: relative;
  width: 100%;
  padding-top: 128px;
  padding-bottom: 64px;
  min-width: 0;
  background: linear-gradient(180deg, #ffebf733 0%, #a65a5a33 100%) 0% 0% / 100%
      100% repeat,
    linear-gradient(#faf8f4, #faf8f4) 0% 0% / 100% 100% repeat,
    linear-gradient(#ffffffe6, #ffffffe6) 0% 0% / 100% 100% repeat,
    linear-gradient(#000000, #000000) 0% 0% / 100% 100% repeat,
    url("https://images.unsplash.com/photo-1604076913837-52ab5629fba9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=934&q=80")
      0% 0% / cover no-repeat,
    linear-gradient(#fdf9ffad, #fdf9ffad) 0% 0% / 100% 100% repeat,
    url("https://images.unsplash.com/photo-1569982175971-d92b01cf8694?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=975&q=80")
      0% 0% / cover repeat;
}
.box__amNS {
  width: stretch;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  padding: 16px;
}
.box__amNS > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.box__amNS > :global(.__wab_flex-container) > *,
.box__amNS > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 0px;
  margin-top: 24px;
}
.box__yEc2 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box__yEc2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.box__yEc2 > :global(.__wab_flex-container) > *,
.box__yEc2 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 0px;
  margin-top: 12px;
}
.box__ulwW3 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1;
  font-family: "Poppins", sans-serif;
}
.box__dahaY {
  position: relative;
  color: #00000080 /* plasmic-token: wgrM1T7bBFTbxg */;
}
.listItem__jX1Qa:global(.__wab_instance) {
  position: relative;
  align-self: center;
  width: 100%;
  min-width: 0;
}
.box__pfgru {
  position: relative;
}
.box___9NO5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  min-width: 0;
  background: url("./images/image12.png") left 0% top 50% / cover repeat;
}
.reveal:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
}
.box__qcMkW {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}
.box__qVthQ {
  position: relative;
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 32px;
}
.box__rpWpU {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  margin-top: 32px;
}
.box__rpWpU > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__rpWpU > :global(.__wab_flex-container) > *,
.box__rpWpU > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.box__wsspp {
  position: relative;
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
}
.box__rgRrv {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__rgRrv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.box__rgRrv > :global(.__wab_flex-container) > *,
.box__rgRrv > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
}
.link__imVbq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__pmV9P {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: S2OvgLalS */;
  flex-shrink: 0;
}
.link__mXr78 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.svg___6APb3 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: eoKrlLGaw */;
  flex-shrink: 0;
}
.link___2TWjL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.svg___3Fxrb {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: S2OvgLalS */;
  flex-shrink: 0;
}
.listItem__cLAgH:global(.__wab_instance) {
  position: relative;
}
.box___3I1Vi {
  position: relative;
  color: #00000080 /* plasmic-token: wgrM1T7bBFTbxg */;
}
.box__dUi2U {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.tilt:global(.__wab_instance) {
  position: relative;
  align-self: center;
  width: 100%;
  max-width: 500px;
  min-width: 0;
}
.box__hDjs7 {
  box-shadow: 0px 25px 50px 0px #00000040;
  display: flex;
  position: relative;
  width: 100%;
  height: 800px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  background: url("./images/image4.png") left 50% top 50% / cover;
}
.box__cClK1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 464px;
  height: 743px;
  opacity: 0.5;
  box-shadow: none;
  flex-shrink: 0;
  background: url("./images/image3.png") 0% 0% / cover repeat;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__cClK1 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    top: auto;
    left: auto;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    box-shadow: none;
    flex-column-gap: 0px;
    min-width: 0;
    min-height: 0;
    background: url("./images/image3.png") 0% 0% / cover repeat;
  }
}
.listItem__rc1Em:global(.__wab_instance) {
  position: relative;
}
.box__kv05R {
  position: relative;
  color: #00000080 /* plasmic-token: wgrM1T7bBFTbxg */;
}
.box__kX9En {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.box__zLsPu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 920px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 0;
}
.parallax__qkQhy:global(.__wab_instance) {
  width: 50%;
  max-width: 300px;
  position: relative;
  left: auto;
  top: auto;
  align-self: auto;
  margin-left: 100px;
}
.img___03ZO {
  box-shadow: 0px 25px 50px 0px #00000040;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.parallax__xCqEu:global(.__wab_instance) {
  width: 50%;
  max-width: 300px;
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
}
.img__tBdEb {
  box-shadow: 0px 25px 50px 0px #00000040;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.parallax__h51U9:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-end;
  max-width: 75%;
}
.img__nNWc {
  box-shadow: 0px 25px 50px 0px #00000040;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.parallax__kmBv0:global(.__wab_instance) {
  width: 50%;
  max-width: 300px;
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
  margin-left: 10%;
}
.img__vXlj8 {
  box-shadow: 0px 25px 50px 0px #00000040;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.box__mjeim {
  display: flex;
  flex-direction: row;
}
.box__mjeim > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.box__mjeim > :global(.__wab_flex-container) > *,
.box__mjeim > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
  margin-top: 32px;
}
.listItem___0O5AE:global(.__wab_instance) {
  align-self: flex-end;
}
.box__wwj1J {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__wwj1J > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.box__wwj1J > :global(.__wab_flex-container) > *,
.box__wwj1J > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.box__eaKhk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-self: center;
  width: 100%;
  overflow: auto;
  max-width: 600px;
  height: 500px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
}
.embed:global(.__wab_instance) {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.box__gKg2V {
  width: stretch;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  align-self: center;
  padding: 16px;
}
.box__gKg2V > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.box__gKg2V > :global(.__wab_flex-container) > *,
.box__gKg2V > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 0px;
  margin-top: 24px;
}
.box___1LS7 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1;
  position: relative;
  font-family: "Poppins", sans-serif;
}
.box__izXwh {
  position: relative;
}
.box___09Ak6 {
  position: relative;
}
.box___624Sr {
  position: relative;
}
.box__wh2UQ {
  position: relative;
}
.link__lyE4M {
  position: relative;
  align-self: flex-start;
  color: #04a4f4 /* plasmic-token: eebvLg-O-JIneb */;
}
.link__jOu3U {
  position: relative;
  align-self: flex-start;
  color: #04a4f4 /* plasmic-token: eebvLg-O-JIneb */;
}
.coloredSection:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.box___7Mxat {
  width: stretch;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  height: auto;
  padding: 16px;
}
.box___7Mxat > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.box___7Mxat > :global(.__wab_flex-container) > *,
.box___7Mxat > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 0px;
  margin-top: 24px;
}
.box__ht3Om {
  position: relative;
  color: #ffffffd9 /* plasmic-token: _4jv7CwCzXryWO */;
}
.box___3BBl4 {
  position: relative;
  color: #ffffffd9 /* plasmic-token: _4jv7CwCzXryWO */;
}
.box__adc {
  position: relative;
  color: #ffffffd9 /* plasmic-token: _4jv7CwCzXryWO */;
}
.linkButton:global(.__wab_instance) {
  position: relative;
  align-self: center;
}
.box__sCzaa {
  color: rgb(0, 53, 94) /* plasmic-token: fuOlnHkDJkX */;
  font-size: 20px;
}
.svg___2IyDi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: rgb(0, 53, 94) /* plasmic-token: fuOlnHkDJkX */;
}
.box__lnYiK {
  display: block;
  position: relative;
  height: 1px;
  flex-shrink: 0;
  background: #ffffff33;
}
.box__fdNdc {
  position: relative;
  color: #ffffffd9 /* plasmic-token: _4jv7CwCzXryWO */;
}
.link___3Hcal {
  display: flex;
  position: relative;
  flex-direction: row;
}
.link___3Hcal > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___3Hcal > :global(.__wab_flex-container) > *,
.link___3Hcal > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.box__aJaXv {
  color: rgb(79, 196, 251) /* plasmic-token: P2GhlSti3mm */;
}
.link__oqw1X {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  align-self: center;
  margin-top: calc(84px + 24px) !important;
}
.img__ljphK {
  position: relative;
  object-fit: cover;
  width: 199px;
  height: 70px;
  flex-shrink: 0;
}
